[flake8]
extend-ignore =
    E231, E241,
    E741,
exclude =
    .git,
    .ipynb_checkpoints,
    .mypy_cache,
    .pytest_cache,
    .eggs,
    *.egg,
    *.ipynb,
    __pycache__,
    docs,
max-complexity = 10
max-line-length = 120
max-doc-length = 120
count = True
